* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.btn {
    cursor: pointer;
    width: auto;
    padding: 3px;
    background: #fff;
    border: 2px solid rgba(192, 192, 192, 0.905);
}

body {
    background: #eee;
}

main {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arround {
    margin: 0 auto;
    width: 50%;
}

.menu {
    width: 100%;
    display: flex;
    position: relative;
}

button {
    color: #000;
    padding: 8px;
    transition: 0.3s ease; /* Added 's' after 0.3 for seconds */
    transition-property: background, color;
    border: none;
    background: transparent;
}

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(4),
.btn:nth-child(5),
.btn:nth-child(3) {
    border-right: none;
}

input:checked ~ button {
    background: #3298db;
    color: #fff;
}

.content {
    width: 92.6%;
    background: #fff;
    padding: 20px;
    height: 260px;
    position: absolute;
    left: 0;
    right: 0;
    top: 103%;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: perspective(50px) rotateX(-90deg);
    transition: 0.8s ease-in-out;
    transition-property: opacity, transform, visibility;

    /* transition-property: transform, opacity, visibility; */
}

input:checked ~ .content {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
}
